.borderTotalCount {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(40deg, #ff43c0 0%, #ffa95c 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 40px 0 rgba(255, 118, 142, .3);
}

.borderTotalCount .totalCount {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 20px 40px 0 rgba(255, 118, 142, .3);
    word-break: normal;
    text-align: center;
}

.borderTotalCount .totalCount h3 {
    margin: 0;
    color: #797979;
    font-weight: 700;
    line-height: 1em;
    font-size: 1.2em;
}

.borderTotalCount .totalCount p {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .7em;
    margin: 0;
    line-height: 2em;
}
.borderTotalCount .limitCount.totalCount h3 {
    color: #FF4D4F;
}


