.counterWrapper {
    position: absolute;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.buttonsBlock {
    width:150px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.counterWrapper.settings {
    position: absolute;
}
.settingsBlock {
    padding-top: 10px;
    align-self: end;
}
.settingsIcon {
    color: #95c0ea;
    transition: .4s ease;
    font-size: 1.4em;
}
.settingsIcon:hover {
    color:#0092FE;
    transition: .4s ease;
    cursor:pointer;
}